body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #e6e6e6;
}

/*.container {*/
/*    border: 1px dashed red;*/
/*}*/

/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/

.background {
    height: 60px;

}

img {
    height: 105px;
    width: 105px;
    position: relative;
    align-self: center;


}

h1 {
    font-family: "anton", sans-serif;

}

h2 {
    font-family: "abel", "sans-serif";
    margin-top: 30px;
}

li {
    font-family: "abel", sans-serif;
}



/*@media screen and (width:){*/
/*    */
/*}*/